<div class="content-top section" id="apply">
    <div class="wrap">
        <h2>Our Services</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
            laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
            ullamcorper suscipit lobortis nisl ut aliquip ex ea.</p>
        <div class="content-topbox">
            <div class="col_1_of_3 span_1_of_3">
                <div class="dc-head">
                    <div class="dc-head-icon">
                        <span> </span>
                    </div>
                    <div class="dc-head-info">
                        <h3>hendrerit vulputate</h3>
                        <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                            euismod tincidunt ut laoreet.</span>
                    </div>
                    <div class="clear"> </div>
                </div>
            </div>
            <div class="col_1_of_3 span_1_of_3">
                <div class="dc-head">
                    <div class="dc-head-icon1">
                        <span> </span>
                    </div>
                    <div class="dc-head-info">
                        <h3>hendrerit vulputate</h3>
                        <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                            euismod tincidunt ut laoreet.</span>
                    </div>
                    <div class="clear"> </div>
                </div>
            </div>
            <div class="col_1_of_3 span_1_of_3">
                <div class="dc-head">
                    <div class="dc-head-icon2">
                        <span> </span>
                    </div>
                    <div class="dc-head-info">
                        <h3>hendrerit vulputate</h3>
                        <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                            euismod tincidunt ut laoreet.</span>
                    </div>
                    <div class="clear"> </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="section group">
            <div class="col_1_of_3 span_1_of_3">
                <div class="dc-head">
                    <div class="dc-head-icon3">
                        <span> </span>
                    </div>
                    <div class="dc-head-info">
                        <h3>hendrerit vulputate</h3>
                        <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                            euismod tincidunt ut laoreet.</span>
                    </div>
                    <div class="clear"> </div>
                </div>
            </div>
            <div class="col_1_of_3 span_1_of_3">
                <div class="dc-head">
                    <div class="dc-head-icon4">
                        <span> </span>
                    </div>
                    <div class="dc-head-info">
                        <h3>hendrerit vulputate</h3>
                        <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                            euismod tincidunt ut laoreet.</span>
                    </div>
                    <div class="clear"> </div>
                </div>
            </div>
            <div class="col_1_of_3 span_1_of_3">
                <div class="dc-head">
                    <div class="dc-head-icon5">
                        <span> </span>
                    </div>
                    <div class="dc-head-info">
                        <h3>hendrerit vulputate</h3>
                        <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                            euismod tincidunt ut laoreet.</span>
                    </div>
                    <div class="clear"> </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>