<div class="content-top section" id="research">
    <div class="wrap">
        <h2>Our Research</h2>
        <p>The Rathbun lab leverages fundamental protein engineering techniques, lab automation, high-throughput
            sequencing, and machine learning to make new imaging tools to "see" biological processes.</p>
        <div class="section group">
            {{ content }}
            <div class="clear"></div>
        </div>
        <div class="position-relative">
            <div class="position-absolute top-0 start-50 translate-middle">
                <button type="button" class="btn btn-secondary btn-lg"><i class="fa-solid fa-book"></i> Our Publications</button>
            </div>
        </div>
    </div>
</div>